@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background: url("../img/desktop_arsenal.png") no-repeat;
    background-size: 100%;
}
.content{
    font-family: 'Manrope', sans-serif;
    max-width: 500px;
    margin: 0 auto 150px auto;
}
#header{padding:15px 0 39px 0}
#content{
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}
a{
    text-decoration: none;
}
.lang{list-style-type:none;margin:0;padding:0}
.lang li{display:inline-block;padding-left:5px}
.lang li a:hover,.lang li a{color:#fff;text-decoration:none;font-size:11px}
.step-title h1{color:#00553c;font-size:16px;font-weight:700;text-transform:uppercase;line-height:20px}
.step-title p{font-size:14px;color:#000;width:320px;margin:0 auto 15px}
.step-title .phone-numb{font-size:14px;margin-bottom:60px}
.btn-group-lg>.btn,.btn-lg{padding:10px 16px;font-size:14px;line-height:1.3333333;border-radius:1px;border:0;background-color:#00ab4e;margin-bottom:40px;margin-top:20px}
.btn-group-lg>.btn,.btn-lg:hover,.btn-danger:focus,.btn-danger.focus,.btn-danger:active:focus{text-decoration:none;font-size:16px;line-height:40px;background-color:#00ab4e}
.logo-mp{background:url(../img/pm-logo-ua.png) center center no-repeat;height:50px;margin-bottom:40px;margin-top:10px}
.support h3{font-size:19px;color:#00553c;font-weight:700;padding:15px 0 25px;margin:0}
.support{border-top:1px solid #ccc}
.support-items{margin:20px 0}
.support-items.mail{text-align:center}
.support-items.mail a,.support-items.mail a:hover,.support-items.mail a:visited,.support-items.mail a:focus{color:#666}
.p2p-card1-cvv{border-bottom:none}
.form-control:focus{border-color:none;outline:0;-webkit-box-shadow:none;box-shadow:none}
.has-success .form-control{border-color:none;-webkit-box-shadow:none;box-shadow:none}
.button-transfer{width:177px;font-size:16px;}
.field-cardform-guid{display:none}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
input[type='number']{-moz-appearance:none}
.p2p-card1-title span{margin-top:15px;text-transform:uppercase;font-size:20px;color:#888}
.p2p-card1-title{height:auto;min-height:40px;margin-top:15px}
.p2p-card1-title-mark{height:38px;width:58px;border-radius:3px;-moz-border-radius:3px;position:absolute;right:15px;top:10px}
.p2p-card1-title-mark.type-card-mc{background-image:url(../img/mastercard_logo.png);height: 41px;width:65px;border-radius:3px;-moz-border-radius:3px;float:right;margin-right:0;background-repeat: no-repeat;}
.p2p-card1-title-mark.type-card-visa{background-image:url(../img/logo_visa.png);height: 26px;width: 79px;border-radius: 0;-moz-border-radius:0;float:right;margin-right:0}
.p2p-card1-title-mark.type-card-cirus{background-image:url(../img/logo_ms.png);height:38px;width:58px;border-radius:3px;-moz-border-radius:3px;float:right;margin-right:0}
.p2p-c1f-date-title,.p2p-c1f-cvv-title-text{font-size:12px;color:#243332;margin:10px 0 4px}
.p2p-c1f-cvv-title-text{font-size:14px;color:#243332;margin-bottom:0;text-transform:capitalize;cursor:help;padding-right:3;white-space: nowrap;}
.p2p-c1f-cvv-title-text .fa{color:#5ac0de;font-size:18px}
.tooltip_cvv{display:none;position:absolute;width:230px;height:220px;top:-100px;left:132px;border-radius:5px;background-color:#fff;box-shadow:0 0 10px rgba(0,0,0,0.5);z-index:2;padding:0}
.tooltip-title{padding:10px 15px;text-align:left;line-height:14px;background-color:#EEE;border-top-left-radius:5px;border-top-right-radius:5px}
.tooltip-descr .fa{color:#fff}
.tooltip-descr{padding:10px;position:relative}
.arrow-tooltip{position:absolute;width:13px;height:22px;top:52px;left:-13px;background:url(/v4/p2p/web/source/unisonbank/img/trigon-left.png) no-repeat 0 0}
.form-group{margin-bottom:0}
.btn-danger[disabled],.btn-danger[disabled]:hover,.btn-danger:active,.btn-danger:active:hover{background-color:#00ab4e;border-color:#d43f3a;cursor:not-allowed;opacity:.65}
.form-control{display:block;width:100%;height:34px;padding:6px 0;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:none;border-radius:4px;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.has-success .form-control:focus{-webkit-box-shadow:none;box-shadow:none}
#optForm .input-group-addon{padding:10px 0;width:130px}
.optForm-descr p,#optForm{width:320px;margin:0 auto}
.mpin{margin-bottom:10px}
.mpin p{font-size:14px;color:#343434;text-align:center;background-color:#fff;font-weight:700;line-height:20px;border:0;border-radius:0;text-align:left}
.mpin{border:1px solid #eee;background-color:#fff}
#otpform-code{margin-top:12px}
.mpin .form-control{border-radius:0;font-size:16px}
.btn-group-lg>.btn,.btn-lg{margin:10px auto 5px;width:320px;text-align:center;text-decoration:none}
.has-error .form-control,.error .form-control,.error .form-control:focus,.has-error .form-control:focus{-webkit-box-shadow:none;box-shadow:none}
.success-img{background:url(../img/success_ipay_bottom.png) center center no-repeat;width:85px;height:85px;margin:30px auto}
.unsuccess-img{background:url(../img/unsuccess.png) center center no-repeat;width:53px;height:53px;margin:30px auto 40px}
.link-back,.link-back:hover{color:#00a94f;font-size:14px;text-decoration:none;margin:20px 0;display:block}
.question{width:21px;height:21px;position:absolute;right:15px;top:15px;background:#fff url(../img/question.png) 0 0 no-repeat;cursor:help}
.popover-add-card{position:absolute;top:65px;right:10px;z-index:1060;display:none;max-width:276px;padding:1px;background-color:#353535;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);color:#fff;margin-top:-10px;line-break:auto;padding:10px;font-size:12px}
.popover-add-card p{margin:0}
.popover-add-card > .arrow-add-card{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid;border-width:4px;top:-4px;right:12px;margin-left:-4px;border-top-width:0;border-bottom-color:#353535;border-bottom-color:rgba(53,53,53,1)}

#foot-logo-mp{display:none}

.loading{width:100%;height:200%;display:block;overflow:auto;overflow-y:scroll;position:absolute;top:0;left:0;overflow:hidden;z-index:1001;background-color:#374140;background-color:rgba(55,65,64,.6);-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);filter:alpha(opacity=60);-moz-opacity:.5}
.loading-wrap{position:fixed;top:20%;margin:auto;width:100%}
.load-wrap{margin:auto;text-align:center;height:auto;opacity:1;overflow:visible;z-index:1002}
.load-container{margin:20px auto;text-align:center;width:200px;height:30px;border:3px solid #fff;background:#999;border-radius:7px;overflow:hidden;box-shadow:0 3px 4px rgba(0,0,0,.3)}
.load{height:30px;width:400px;margin:0;background:url(../img/loading.png) 0 0 no-repeat}
.has-error #otpform-code{color:red}
.block-title h2{font-size:18px;color:#4f4f4f;position:relative; margin-bottom: 15px;}
.table-wrap{border:1px solid #dee1ea;padding: 0 15px; display: none;}
.pmt-total{float:left;text-align:right;width:178px;margin-top: 15px;}
.pmt-amount{float:left;padding-left:40px;color:#41b73c;margin-top: 15px;}
.table-wrap table{width: 100%}
.table-wrap td{font-size:14px;width:150px;line-height:25px;padding-bottom:10px}
.table-wrap tr:first-child td{padding-top:10px;padding-bottom:0}
.pmt-total{padding-top:10px;padding-bottom:10px;font-size:14px}
.support-items p{margin:0;font-size:12px}
.support-items .support-items-descr-small{font-size:10px;text-transform:uppercase;white-space:nowrap}
.btn-pay{margin:0 auto;background: #0E975E;color:#fff;text-decoration:none;padding:15px 0;width: 100%;height: 100%;margin-top: 5px;border-radius: 11px;}
.btn-pay:hover{text-decoration:none;color:#fff}
.foot-logos{list-style-type:none;margin:25px 0 50px;padding:0;display:table;width:100%}
.foot-logos li{display:table-cell;vertical-align:top;text-align:center}
.foot-logos li:last-child{text-align:right}
.foot-logos li:first-child{text-align:left}
.lang a,.lang a:hover{width:26px;height:26px;-moz-border-radius:26px;-webkit-border-radius:26px;border-radius:26px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:#514d4f;font-size:12px;color:#fff;display:inline-block;line-height:26px;text-align:center}
.zero-padding-right-mob .block-title h2{margin-bottom: 35px;margin-top: 35px;}
.lang li.active a,.lang li.active a:hover{color:#fff;text-decoration:none;background-color:#0AA06E;}
.foot-logos-bottom-line:after{content:'';border-bottom:1px solid #c9c9c9;width:100%;display:block}
.p2pMain-card1{
    width:349px;
    height:235px;
    z-index:100;margin-bottom:40px;
    padding-left:24px;
    background: #F7F9F9;
    border: 2px solid rgba(81, 103, 107, 0.2);
    border-radius: 11px;
    padding-right:24px;
    position:relative;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);}
#sender-type-card{position:absolute;right:15px;top:10px}
.main-card1 .p2p-card1-number{margin-top:65px; position: relative;}
.p2p-card1-description-text{color: #333333;font-size:14px;margin-bottom: 10px;}
.p2pMain-card1 .form-control{font-size:16px;border-radius: 4px;text-align:center}
.p2pMain-card1 .form-control{
    height:39px;
    background: #FFFFFF;
    border: 1px solid rgba(81, 103, 107, 0.2);
    border-radius: 9px;
}
.p2pMain-card1 .p2p-card1-foot{margin-top:30px}
.p2p-date{position:relative}
.p2p-c1f-date-title{font-size:14px;color: #333333;margin-left:3px;margin-right:15px;display:inline-block;margin-top: 0;line-height: 1;padding-top: 12px;}
.field-cardform-expy,.field-cardform-expm{font-size:16px;width: 70px;text-align:center;border-radius:0;-moz-border-radius:0;display:inline-block;padding:0;margin-right:5px;border:0;vertical-align: top;}
.p2p-date span{vertical-align: top;display: inline-block;margin-top: 10px;}
.field-cardform-expy{margin-left: 4px;}
.p2pMain-card2{
    width: 360px;
    height: 243px;
    position:absolute;
    top: 20px;
    left: 135px;
    padding-left: 230px;
    padding-top: 75px;
    background: #F7F9F9;
    border: 2px solid rgba(81, 103, 107, 0.2);
    border-radius: 11px;
}
.black-line{height:43px;width:100%;background-color:#2b2b2b;position:absolute;top: 28px;right:-1px}
.p2p-c1f-cvv-title-text{font-size:14px;color: #333333;margin-bottom:5px;text-transform:capitalize;cursor:help;width: 95px;}
.p2p-c1f-cvv-title-text span{font-size: 14px;}
.p2pMain-card2 .form-control{height:39px;text-align:center}
.p2p-cvv-descr{color: #7B7B7B;font-size:12px;text-align:left;margin-top: 12px;}
.form-control{display:block;width:100%;height: 39px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border: 1px solid #BDBDBD;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.card-container{position:relative;max-width: 570px;margin: 0 auto;}
.panel-default{border:1px solid #dee1ea;background-color:#f1f3fd}
.table > tbody > tr > td{border-top: 1px solid #fff;}
.table > tbody > tr:first-child > td{border-top: 0;}
.table > tbody > tr > td:first-child{text-align: right;width: 35%;padding-right: 35px;white-space: nowrap;}
.table-wrap .text-right{padding-left: 5px;width: 35%;padding-right: 35px;}
.btn-red, .btn-red:focus,.btn-red.focus,.btn-red:active:focus{width: 220px;font-size: 16px;line-height: 40px;margin:0 auto;background:#fff url(../img/btn-red.png) center 0 no-repeat;color:#fff;text-decoration:none;padding:3px 0}
.btn-red:hover{text-decoration:underline;color:#fff}
.unsuccess img{margin-top: 50px;margin-bottom: 30px;}
.unsuccess {margin-bottom: 35px;}
.unsuccess p{margin: 0}
.success-receipt-wrap{background: rgba(10, 160, 110, 0.1);border-radius: 4px;padding: 17px 0;max-width: 360px;margin: 25px auto;}
.success-receipt-wrap a, .success-receipt-wrap a:focus, .success-receipt-wrap a:active{color: #0AA06E;font-family: "Open Sans", sans-serif;font-size: 16px;font-weight: 600;}
.success-receipt-wrap a:hover{text-decoration: none;}
.wrap-title{
    height: 168px;
    background: #F9F9F9;
    padding: 25px;
    margin-bottom: 35px;
}
.title-img{
    height: 105px;
    padding-left: 150px;
}
.title-veryfy-card{
    text-align: center;
    margin: 30px 0 25px 0;
}
.title-veryfy-card h2{
    font-size: 36px;
    margin:0;
    font-weight: 600;
    font-size: 22px;
    color: #0E2F31;
    font-family: 'Manrope', sans-serif;

}
.title-veryfy-card p{
    font-size: 16px;
}
.p2pMain-card-container{
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
}
.secure-text{
    font-size: 16px;
    color: #858585;
    margin-top: 30px;
}
.wrap-info-pay{
    background: #F9F9F9;
    padding: 40px 0 35px 0;
}
.wrap-info-pay-update{
    background: #ffffff;
}
.title-pay h2{
    font-size: 36px;
    color: #000000;
    margin-bottom: 40px;
}
.title-img-pay img{
    height: 100px;
}
.info-text{
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 50px;
}
.btn-next{
    background: #27B972;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    padding: 15px 0;
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 11px;
}
.btn-next:hover{
    color: #FFFFFF;
}
.field-cardform-pan.has-success input{
    background: rgba(255, 255, 255, 0.5);

}
.field-cardform-pan.has-error input{
    border-color:#E94F35;
    background: rgba(255, 255, 255, 0.5);
}
.p2p-date.success{
    background: rgba(255, 255, 255, 0.5);
}

.has-error .form-control{
    border-color:#E94F35;
}
.title{
    padding-top: 38px;
}
.text, .text-p2p-date{
    position: absolute;
    display: none;
    color: #E94F35;
    font-size: 12px;
}

.block-title-pay{
    text-align: center;
}
.wrap-title-pay{
    height: 100px;
    background: #F9F9F9;
    padding: 25px;
    margin-bottom: 20px;
}
.title-veryfy-card-pay{
    padding: 0;
    text-align: center;
}
.title-veryfy-card-pay h2 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    padding-top: 10px;
}
.block-title-pay h2{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 22px;
    color: #0E2F31;
    font-family: 'Manrope', sans-serif;
}
.table-wrap-pay{
    max-width: 500px;
    width: 100%;
    margin: 0 auto 15px auto;
    padding: 10px 25px 10px 25px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(81, 103, 107, 0.1);
    border-radius: 11px;
}
.line{
    width: 100%;
    height: 50px;
}
.merch-descr-pay p{
    font-size: 16px;
    color: #7B7B7B;
    margin: 0;
    padding-bottom: 5px;
}
.table-wrap-pay td{
    width: 100%;
    padding: 15px 0;
}
.merch-descr-pay span{
    font-size: 16px;
    color: #000000;
}
.merch-descr-pay .amount{
    font-weight: bold;
}
.field-cardform-cvv{
    max-width: 87px;
}
.p2p-c1f-cvv-title-text img{
    margin-left: 15px;
    vertical-align: top;
}
.has-success .form-control{
    border-color:#BDBDBD;
}
.table-wrap-pay tr:first-child td{padding-top:10px;}
.title-pay-update h2{
    font-weight: 600;
    font-size: 24px;
    color: #0E2F31;
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: center;
}
.number-pay{
    font-size: 16px;
    color: #858585;
}
.success-receipt-wrap a img{
    vertical-align: top;
    padding-left: 15px;
}
#send_receipt_form .field-another-post{
    width: 230px;
    display: inline-block;
}
#send_receipt_form .btn-info{
    width: 115px;
    background: #0AA06E;
    border-radius: 4px;
    text-transform: none;
    border: 0;
    padding: 10px 0;
    margin: 0 0 4px 10px;
    vertical-align: top;
    font-size: 16px;
}
#another-post{
    height: 42px;
}
.textarea-mail p{
    max-width: 360px;
    text-align: left;
    margin: 0 auto 8px auto;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline: none;
}
.info-text-update{
    background: #FFE7E6;
    border-radius: 8px;
    max-width: 360px;
    margin: 25px auto 30px auto;
    padding: 15px;
    text-align: center;
}
.info-text-update p{
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}
.info-text-update span{
    font-size: 14px;
    color: #000000;
}
.block-title p{
    font-weight: 400;
    font-size: 16px;
    color: #858585;
    text-align: center;
    margin-bottom: 25px;
}
.p2pMain-card-container .title-card{
    font-weight: 400;
    font-size: 16px;
    color: #858585;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}
.tr-mob {
    width: 74%;
    display: inline-block;
}
.tr-no-line {
    background: none;
}
.more{
    font-weight: 400;
    font-size: 16px;
    color: #7C9CAC;
    background: url(../img/arrow.svg) no-repeat 100% 50%;
    background-size: 12px 7px;
    max-width: 120px;
    cursor: pointer;
    padding-left: 5px;
    position: relative;
    bottom: 12px;
    text-align: right;
    padding-right: 25px;
}
.more-info{
    display: none;
    font-weight: 400;
    font-size: 16px;
    color: #7C9CAC;
    font-family: 'Roboto', sans-serif;
    background: url(../img/arrow_down.svg) no-repeat 100% 50%;
    background-size: 12px 7px;
    max-width: 120px;
    cursor: pointer;
    padding-left: 25px;
    position: relative;
    bottom: 12px;
}
.to_cabinet{
    font-weight: 400;
    font-size: 14px;
    color: #7C9DAC;
}
.to_cabinet:hover{
    color: #7C9DAC;
}
.dropdown-block{
    max-width: 500px;
    margin: 0 auto 60px auto;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(81, 103, 107, 0.1);
    border-radius: 8px;
    padding: 16px;
}
.dropdown-block p{
    margin-bottom: 0;
}
.label-text{
    font-weight: 400;
    font-size: 16px;
    color: #7C9CAC;
}
.info-pay{
    font-weight: 700;
    font-size: 16px;
    color: #3B566E;
}
.tr-right{
    display: inline-block;
    width: 25%;
}
#gpay_container button{
    max-width: 500px;
    width: 100%;
    height: 55px;
    border-radius: 8px;
    right: 0;
    background-size: 60px;
}
.form-name{
    max-width: 500px;
    margin: 80px auto 30px auto;
    width: 100%;
    position: relative;
}
.form-name input{
    height: 60px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(81, 103, 107, 0.1);
    border-radius: 11px;
    font-size: 16px;
    color: #51676B;
    padding-left: 24px;
}
/* для элемента input c type="checkbox" */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #0E975E;
    border-radius: 6px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #0E975E;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #0E975E;
    border-color: #0E975E;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
    border-color: #0E975E;
    background-color: #0E975E;
    background-image: url("../img/arrow-checkbox.svg");
    background-size: auto;
}
.politic label{
    font-weight: 400;
    font-size: 16px;
    color: #3B566E;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.politic label a{
    color: #0E975E;
    font-size: 16px;
    text-decoration: underline;
}
.politic label span{
    width: 92%;
    display: inline-block;
    vertical-align: top;
    line-height: 1.1;
    padding-top: 3px;
}
.politic{
    margin-bottom: 30px;
}
.reset-password{
    margin-top: 30px;
    text-align: center;
}
.reset-password a{
    font-weight: 600;
    font-size: 15px;
    color: #51676B;
}

.top-list{
    padding: 0;
}
.top-list li{
    list-style-type: none;
    float: left;
    padding-right: 25px;
}
.top-list li a{
    font-weight: 500;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
    color: #51676B;
}
.right-top-block{
    text-align: right;
}
.logo-partner img{
    width: 125px;
}
.main-menu{
    background: linear-gradient(140.25deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 3px #FFFFFF;
    border-radius: 14px;
    padding: 17px 25px;
    margin-top: 20px;
    height: 80px;
}
.map img{
    height: 14px;
}
.map a{
    font-weight: 500;
    font-size: 12px;
    color: #51676B;
    margin-right: 25px;
}
.dropdown {
    display: inline-block;
}


 .number svg:first-of-type {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

 .number .btn-lang a {
    margin-left: 5px;
    color: #130E21;
}

 .number .btn-lang a:hover {
    text-decoration: none;
}

 .number .btn-lang {
    padding-left: 20px;
    background-color: #ffffff;
}

 .number .dropdown-menu {
    right: 15px;
}

 .number .dropdown-menu > li > a {
    text-align: right;
}

 .btn-lang {
     width: 64px;
     border-radius: 32px;
     background:  linear-gradient(230.12deg, rgb(212 225 216 / 90%) -6.2%, rgba(211, 235, 218, 0) 72.76%), #C5DBCB;
     box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.65), inset 1px 2px 4px rgba(0, 0, 0, 0.11);
     color: #A5B8AA;
     font-weight: 600;
     font-size: 9px;
     font-family: 'Manrope', sans-serif;
     text-align: left;
     padding: 0 0 0 4px;
     height: 26px;
}
.btn-lang span{
    font-size: 9px;
    text-transform: uppercase;
}
.btn-lang:hover{
    color: #A5B8AA;

}
 .btn-lang:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

 .btn-lang:focus {
    outline: none;
     color: #A5B8AA;
}
 .dropdown-menu {
    width: 100%;
    min-width: auto;
    margin-top: 5px;
     width: 64px;
     border-radius: 32px;
     background:  linear-gradient(230.12deg, rgb(212 225 216 / 90%) -6.2%, rgba(211, 235, 218, 0) 72.76%), #C5DBCB;
     box-shadow: 1px 2px 4px rgba(255, 255, 255, 0.65), inset 1px 2px 4px rgba(0, 0, 0, 0.11);
     color: #A5B8AA;
     font-weight: 600;
     font-size: 9px;
     font-family: 'Manrope', sans-serif;
     text-align: left;
     padding: 0 0 0 4px;
     height: 26px;
 }
.dropdown-menu > li > a{
    padding: 3px 0 0 0px;
    color: #A5B8AA;
    font-weight: 600;
    font-size: 9px;
    font-family: 'Manrope', sans-serif;
    display: inline-block;
    width: 75%;
    margin-right: 0;
}
.map .dropdown img{
    height: 18px;
    width: 18px;
    vertical-align: bottom;
    margin-right: 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    color: #A5B8AA;
    background: none;
}
.main-menu ul{
    padding: 0;
    display: inline-block;
    margin: 5px 0 0 25px;
    border-left: 1px solid #DCEBE7;
    vertical-align: bottom;
    height: 35px;
}
.main-menu ul li{
    float: left;
    padding-right: 35px;
    list-style-type: none;
    padding-top: 8px;
}
.main-menu ul li:nth-child(1){
    padding-left: 25px;
}
.main-menu ul li a{
    font-weight: 600;
    font-size: 14px;
    color: #0E2F31;
    font-family: 'Manrope', sans-serif;
}
.logo-partner{
    display: inline-block;
}
.list-online{
    display: inline-block;
    background: rgba(39, 185, 114, 0.2);
    box-shadow: inset 0px 0px 3px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 9px;
    color: #27B972;
    font-family: 'Manrope', sans-serif;
    position: relative;
    bottom: 3px;
    left: 12px;
}
.phone {
    display: inline-block;
    position: relative;
    top: 3px;
}

.phone a{
    font-weight: 600;
    font-size: 16px;
    color: #0E2F31;
    padding-left: 12px;
    vertical-align: midle;
}
.link-online{
    width: 222px;
    height: 46px;
    background: #0E975E;
    border-radius: 10px;
    text-align: center;
    padding: 12px 0;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    display: inline-block;
    margin-left: 45px;
}
.link-online:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.sign-in{
    font-weight: 600;
    font-size: 14px;
    padding-left: 25px;
    color: #008641;
    font-family: 'Manrope', sans-serif;

}
.sign-in:hover{
    color: #008641;
    text-decoration: none;

}
.link-btn{
    display: inline-block;
}
.main-menu a:hover{
    text-decoration: none;
}
.pageInfo-support{
    border-top:  1px solid rgba(81, 103, 107, 0.1);
}
.pi-support-item{
    padding-left: 0;
}
.pi-support-item-right{
    padding-right: 0;
}
.footer{
    background: #042123;
    padding: 100px 120px;
    font-family: 'Manrope', sans-serif;
}
.footer .title{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 30px;
    padding-top: 0;
    height: 25px;
}
.link-footer-menu a{
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    opacity: 0.6;
    display: block;
    margin-bottom: 10px;
}
.link-footer-menu .number-footer{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 15px;
}
.link-footer-menu .list-online{
    background: rgba(255, 255, 255, 0.13);
    color: #FFFFFF;
    box-shadow: none;
    left: 7px;
    bottom: 1px;
}
.link-footer-menu p{
    font-weight: 600;
    font-size: 9px;
    color: #FFFFFF;
    opacity: 0.4;
    margin-bottom: 30px;
}
.link-footer-menu-bottom{
    margin: 100px 0;
}
.link-footer-menu-bottom a{
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    display:block;
    padding-bottom: 10px;
}
.link-footer-menu-bottom span{
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    display:block;
    padding-bottom: 10px;
}
.link-footer-menu-bottom p{
    font-weight: 600;
    font-size: 11px;
    color: #FFFFFF;
    opacity: 0.4;
}
.social-link a{
    display: inline-block;
    height: 42px;
    width: 42px;
    margin-right: 15px;
}
.bottom-footer p{
    font-weight: 600;
    font-size: 9px;
    color: #FFFFFF;
    opacity: 0.4;
}
.bottom-footer span{
    font-weight: 600;
    font-size: 9px;
    color: #FFFFFF;
    opacity: 0.4;
    display: inline-block;
    vertical-align: bottom;
    padding-right: 30px;
}
.bottom-footer img{
    height: 25px;
    width: 34px;
    display: inline-block;
}
.design-img{
    text-align: right;
}
.bottom-footer hr{
    opacity: 0.05;
    border: 1px solid #FFFFFF;
    margin-top: 50px;
    margin-bottom: 30px;
}
.main-menu .right{
    float: right;
}
.arrow-footer{
    display: none;
}
.form-wrap{
    display: inline-block;
    vertical-align: top;
}
.clear_input{
    position: absolute;
    right: 5px;
    top: 36px;
    display: none;
    cursor: pointer;
}
.field-cardform-pan.has-error + .clear_input, .field-cardform-pan.has-success + .clear_input{
    display: block;
}
.field-cardform-card_holder.has-error + .clear_input, .field-cardform-card_holder.has-success + .clear_input {
    display: block;
    right: 10px;
    top: 18px;
}
.form-name .has-error input, .form-name .has-success input{
    background: rgba(255, 255, 255, 0.5);
}
.form .form-control{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(81, 103, 107, 0.1);
    border-radius: 11px;
    height: 60px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #51676B;
    padding-left: 25px;
}
.oferta{
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    color: #0E2F31;
    text-align: center;
}
.oferta a{
    color: #27B972;
    text-decoration: underline;
}

.wrap-top-block{
    padding: 40px 40px 50px;
    background: linear-gradient(140.25deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.5);
    border-radius: 11px;
    height: 222px;
    margin-bottom: 39px;
}
.dropdown-list{
    display: inline-block;
    float: right;
}
.cabinet{
    font-family: 'Manrope', sans-serif;
    max-width: 1135px;
    width: 100%;
    margin: 0 auto 100px auto;
}
.cabinet .dropdown button{
    background: url("../img/menu-top-img.svg") no-repeat;
    border: 0;
    height: 38px;
    width: 38px;
}
.cabinet .dropdown-toggle.show{
    background: url("../img/menu-img-hover.svg") no-repeat;
    height: 38px;
    width: 38px;
}
.cabinet .dropdown button:after{
    border: 0;
}
.cabinet .dropdown-menu{
    background: #FFFFFF;
    border: 1px solid #DEEAF1;
    border-radius: 8px;
    width: 200px;
    height: 80px;
    box-shadow: none;
    padding: 0;
}
.cabinet .dropdown-menu li {
    text-align: center;
    padding: 9px 0;
}
.cabinet .dropdown-menu li a{
    font-weight: 400;
    font-size: 14px;
    color: #3B566E;
    padding: 0;
}
.cabinet .dropdown-menu.show{
    transform: translate3d(-175px, 15px, 0px) !important;
}
.cabinet .dropdown-menu li:nth-child(1){
    border-bottom: 1px solid #DEEAF1;
}
.name_user{
    color: #0E2F31;
    font-weight: 600;
    font-size: 22px;
    display: inline-block;
}
.number-contract{
    color: #0E2F31;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.number-contract span{
    font-weight: 400;
    font-size: 16px;
    color: #7C9CAC;
    padding-right: 10px;
}
.login-title span{
    font-weight: 400;
    font-size: 16px;
    color: #7C9CAC;
    padding-right: 10px;
}
.calendar-pay-list{
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    color: #0E2F31;
}
.calendar-pay-list .calendar-card{
    list-style-type: none;
    padding: 23px 28px;
    background: linear-gradient(140.25deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.5);
    border: 1px solid #E7EAEC;
    border-radius: 11px;
    width: 255px;
    height: 136px;
    float:left;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.calendar-pay-list .calendar-card:last-child{
    margin-right: 0;
}
.calendar-title{
    font-weight: 600;
    font-size: 16px;
    color: #0E2F31;
    display: inline-block;
}
.show-all{
    display: inline-block;
    float: right;
}
.show-all a{
    color: #27B972;
    font-weight: 600;
    font-size: 16px;
}
.calendar-pay-list .dropdown button{
    background: url(../img/menu-img.svg) no-repeat;
    height: 28px;
    width: 28px;
    position: relative;
    left: 10px;
}

.calendar-pay-list .dropdown-toggle.show{
    background: url(../img/menu-img-hover.svg) no-repeat;
    height: 28px;
    width: 28px;
}
.calendar-card .id{
    display: inline-block;
    margin-bottom: 10px;
}
.calendar-card .amount{
    margin-bottom: 10px;
}
.calendar-card .date-pay{
    display: inline-block;
    color: #7C9DAC;
    font-weight: 400;
}
.calendar-card .status-pay{
    display: inline-block;
    float: right;

}
.calendar-card .status-pay.success{
    color: #0FE189;
}
.calendar-card .status-pay.unsuccess{
    color: #E84F35;
}
.purse .date-pan{
    color: #7C9DAC;
    font-weight: 400;
    margin-bottom: 15px;
}
.purse .status-pay{
    float: left;
}
.purse .card-name{
    display: inline-block;
    float: right;
    width: 47px;
    height: 27px;
    background-size: contain;
}
.purse .card-name.mastercard{
    background: url("../img/mastercard.svg") no-repeat center center;
}
.purse .card-name.visa{
    background: url("../img/visa.svg") no-repeat center center;
}
.purse .card-name.prostir{
    background: url("../img/prostir.svg") no-repeat center center;
}
.status-pay.main{
    color: #0FE189;
}
.status-pay.reserv {
    color: #E2D900;
}
.cabinet .purse .add-new-card{
    background: url("../img/add-card-img.svg") no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 0;
    border: 0;
}
.purse .add-new-card button{
    height: 100%;
    width: 100%;
    border: 0;
    background: transparent;
}
.payment_calendar{
    margin-top: 60px;
}
.payment_calendar .calendar-title{
    font-size: 22px;
}
.line{
    margin: 10px 0;
    padding: 0;
    border-bottom: 2px solid #D1EEE0;
}
.line li{
    list-style-type: none;
    float: left;
    width: 25%;
    text-align: center;
}
.line .step{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #D1EEE0;
    padding-top: 5px;
    margin: 0 auto;
}
.step_in{
    height: 9px;
    width: 9px;
    border-radius: 9px;
    background: #FFFFFF;
    margin: 0 auto;
}
.payment_calendar .calendar-card-payment{
    text-align: center;
    padding-top: 39px;
}
.step_in_success .step_in{
    background: #0FE189;
}
.line .step_in_unsuccess{
    background: #FFC6BC;
}
.step_in_unsuccess .step_in{
    background: #E84F35;
}
.calendar-pay-payment{
    margin-top: 50px;
}

.carousel-control-next-icon{
    height: 41px;
    width: 41px;
    background: url("../img/arrow-right.svg");
    opacity: 1;
    background-size: contain;
}
.carousel-control-next, .carousel-control-prev{
    opacity: 1;
    height: 41px;
    width: 41px;
}
.carousel-control-next{
    right: -17px;
    top: 135px;
}
.carousel{
    margin-top: 39px;
}
.modal-dialog{
    max-width: 634px;
    width: 100%;
    height: 324px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 25px;
    font-family: 'Manrope', sans-serif;
}
.modal-header{
    border: 0;
    justify-content: right;
    padding: 0;
}
.modal-footer{
    border: 0;
}
.modal-header .close{
    border: 0;
    background: no-repeat;
}
.modal-content{
    border: 0;
    text-align: center;
}
.info-modal{
    font-weight: 600;
    font-size: 16px;
    color: #7C9DAC;
}
.modal-body .title-modal{
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    margin-bottom: 35px;
}
.modal{
    padding: 0 15px;
}
.payment_calendar .calendar-pay-desktop .calendar-card{
    padding: 37px 28px;
}
@media (max-width:1280px) and  (min-width: 992px){
    .main-menu ul li{
        padding-right: 22px;
    }
    .main-menu ul li a{
        font-size: 10px;
    }
    .main-menu ul{
        margin: 5px 0 0 10px;
    }
    .main-menu ul li:nth-child(1) {
        padding-left: 10px;
    }
    .phone a{
        font-size: 12px;
        padding-left: 5px;
    }
    .link-online {
        width: 170px;
        height: 43px;
        padding: 12px 0;
        font-size: 12px;
        margin-left: 12px;
    }
    .footer{
        padding: 100px 0px;
    }
}
.navbar {
    position: relative;
    left: 0;
    top: 0;
    background: linear-gradient(140.25deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 3px #ffffff;
    border-radius: 14px;
    padding: 17px 25px;
    height: 80px;
}

.navbar__wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.hamb {
    display: none;
}

.popup {
    display: none;
}



.menu > li > a {
    text-decoration: none;
}

.navbar__wrap .menu {
    display: flex;
}

.navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
}

.navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu > li > a:hover {
    color: rgba(255, 255, 255, 1);
}
.main-menu-mob{
    display: none;
}
.line-mob{
    height: 680px;
    border-left: 2px solid #D1EEE0;
    padding: 0;
    width: 5px;
    display: inline-block;
}
.line-mob li{
    list-style-type: none;
    height: 26%;
    width: 5px;
    position: relative;
    right: 11px;
}
.step-mob{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #D1EEE0;
    padding-top: 5px;
    margin: 0 auto;
    position: relative;
    top: 65px;
}
.step-in-mob{
    height: 9px;
    width: 9px;
    border-radius: 9px;
    background: #FFFFFF;
    margin: 0 auto;
}
.calendar-pay-list .calendar-card{
    list-style-type: none;
    padding: 23px 28px;
    background: linear-gradient(140.25deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.5);
    border: 1px solid #E7EAEC;
    border-radius: 11px;
    width: 255px;
    height: 136px;
    float:left;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.error-block {
    padding: 24px;
    background: #FADCDB url("../img/error-block-img.svg") no-repeat 25px;
    border-radius: 8px;
    height: 78px;
    margin-bottom: 39px;
}
.error-block p {
    font-weight: 400;
    font-size: 16px;
    color: #172A3A;
    padding-left: 50px;
    margin-bottom: 0;
    padding-top: 4px;
}
@media (max-width:1199px) {
    .payment_calendar .calendar-pay-list .calendar-card {
        width: 211px;
        padding: 23px 18px;
    }
    .error-block{
        height: auto;
    }
    .payment_calendar .calendar-pay-desktop .calendar-card {
        padding: 37px 28px;
    }
}
@media (max-width:991px) and (min-width: 768px){
    .payment_calendar .calendar-pay-list .calendar-card {
        width: 169px;
        padding: 22px 9px;
        margin-right: 5px;
    }
    .payment_calendar .calendar-card .date-pay{
        font-size: 14px;
    }
    .payment_calendar .calendar-card .status-pay{
        font-size: 14px;
    }
    .payment_calendar .calendar-pay-desktop .calendar-card {
        padding: 37px 28px;
    }
}
@media (max-width:992px) {
.tooltip_cvv{top:-233px;left:-98px}
.arrow-tooltip{background:url(/v4/p2p/web/source/unisonbank/img/trigon-down.png) no-repeat 0 0;width:22px;height:13px;top:172px;left:155px}
    .title-img{
        padding-left: 100px;
    }

    .navbar__wrap .menu {
        display: none;
    }

    .hamb {
        display: flex;
        align-items: center;
    }


    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition: 0.2s;
    }

    .popup {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 101;
        display: block;
        transition: 0.3s;
        padding: 20px 25px;
        font-family: 'Manrope', sans-serif;

    }

    .popup.open {
        left: 0;
    }

    .popup .menu {
        width: 100%;
        height: 100%;
        display: block;
        flex-direction: column;
        align-items: left;
        justify-content: start;
        padding: 20px 0;
        overflow: auto;
    }

    .popup .menu > li {
        width: 100%;
        list-style-type: none;
    }

    .popup .menu > li > a {
        width: 100%;
        display: flex;
        justify-content: left;
        padding: 10px 0;
        font-weight: 600;
        font-size: 18px;
        color: #0E2F31;
    }

    .popup .menu > li > a:hover {
        background-color: rgba(122, 82, 179, 0.1);
    }


    .main-menu-mob{
        display: block;
        padding: 10px 12px;
    }
    .main-menu-desktop{
        display: none;
    }
    .logo-mob{
        display: inline-block;

    }
    .link-online {
        text-decoration: none;
        align-items: center;
        width: 100px;
        height: 30px;
        display: inline-block;
        padding-top: 7px;
        font-weight: 600;
        font-size: 10px;
    }
    .navbar{
        height: 50px;
        padding: 9px 12px;
        display: block;
    }
    #header{
        padding: 0;
    }
    .logo-partner img{
        width: 110px;
        position: relative;
        left: 10px;
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .dropdown-mob{
        display: inline-block;
        float: right;
    }
    .hamb__field-mob{
        display: inline-block;
    }
    .btn-lang-mob span img{
        padding-right: 8px;
        vertical-align: bottom;
    }
    .dropdown-menu-lang li a img{
        padding-right: 8px;
        vertical-align: bottom;
    }
    .popup .menu > li > .link-online{
        height: 45px;
        width: 100%;
        background: #0E975E;
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        margin: 0 0 15px 0;
        color: #FFFFFF;
        text-align: center;
        justify-content: center;
    }
    .popup .menu > li > a .phone-mob{
        height: 18px;
        margin-right: 5px;
    }
    .link-online-mob{
        margin-top: 10px;
    }
    .footer{
        padding: 25px 0px;
    }
}
@media (max-width: 767px) {
.table > tbody > tr > td:first-child{text-align: right;width: 30%;padding-right: 5px;}
.panel-body {padding: 0;}
.table-responsive{border:0;}
.table-wrap .text-right{padding-left: 5px;width: 30%;padding-right: 5px;min-width: 150px}
.pmt-total{width: 30%;min-width: 150px;padding-right: 5px;}
.pmt-amount{padding-left: 5px;}
.table-wrap td{width:30%;min-width:120px;padding-left: 7px;}
.table-wrap table{width:100%}
html,body,#wog{height:100%}
#foot-logo-mp{position:relative;margin-top:-60px;height:60px;clear:both}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
.optForm-descr p,#optForm{width:100%;margin:0 auto}
.step-title p{width:100%}
.container{width:100%}
#wog .row.logos{padding:10px 0}
body{min-width:320px}
.btn-group-lg>.btn,.btn-lg{width:100%;white-space:nowrap}
.padding-mob-zero{padding:0}
.foot-logos{display:block}
.foot-logos li{display:block;text-align:center!important;margin:25px 0}
.support-items.mail{text-align:left}
.p2pMain-card1{margin: 0 auto!important;width: 100%;max-width: 320px;min-width: 290px;}
.black-line{display:none}
.p2pMain-card2{padding-left: 80px;position:static;padding-right:12px;padding-top:125px;margin:-125px auto 30px;height:215px;width: 100%;max-width: 320px;min-width: 290px;}
.p2p-cvv-descr{width: 90px;position:absolute;top: 5px;left:-63px;}
.table-responsive > .table > tbody > tr > td:nth-child(2){white-space: normal;}
    .title-img{
        height: 80px;
        padding-left: 0;
    }
    .title-veryfy-card h2{
        font-size: 24px;
        text-align: center;
        padding: 0;
    }
    .title-veryfy-card p {
        font-size: 14px;
        text-align: center;
    }

    .field-cardform-pan.has-success input{
        background-size: 15px;
    }
    .p2p-date.success{
        background: #ffffff url(../img/success-check.png) no-repeat 272px;
        background-size: 15px;
        padding-right: 0;
    }
    .info-text{
        padding: 0px 15px;
        margin-bottom: 30px;
    }
    .wrap-info-pay{
        padding: 40px 0 50px 0;
    }
    .wrap-title-pay{
        height: 80px;
    }
    .field-cardform-expy{
    margin-right: 0;
    }

    .field-cardform-expy, .field-cardform-expm{
        width: 60px;
    }
    .p2p-c1f-cvv-title-text{
        float: right;
    }
    .field-cardform-cvv{
        margin-left: auto;
    }
    .text, .text-p2p-date{
        font-size: 11px;
    }
    .text-p2p-date {
        left: 128px;
    }
    #cardform-pan{
        text-align: left;
    }
    .p2p-card1-cvv{
        padding-right: 5px;
        position: relative;
    }
    .btn-pay{
        width: 100%;
        max-width: 500px;
    }
    .add_card .btn-pay{
        max-width: 320px;
    }
    #send_receipt_form .field-another-post{
        width: 100%;
        max-width: 290px;
    }
    .success-receipt-wrap{
        max-width: 290px;
        width: 100%;
    }
    #send_receipt_form .btn-info{
        max-width: 290px;
        width: 100%;
        margin-left: 0;
    }
    .send__another-post{
        max-width: 290px;
        margin: 0 auto;
    }
    .info-text-update{
        max-width: 290px;
        padding: 15px 10px;
    }
    .btn-next{
        width: 100%;
        max-width: 290px;
    }
    body{
        background-size: auto;
    }
    .pageInfo{
        padding-left: 15px;
    }
    #i-bottom-foot .wrap-info-support{
        margin: 50px auto 130px auto;
    }
    .link-footer-menu{
        transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
        overflow: hidden;
        position: absolute;
        top: -249px;
        opacity: 0;
    }
    .show + .link-footer-menu{
        top: 0;
        opacity: 1;
        position: relative;
    }
    .footer .title{
        position: relative;
        z-index: 100;
    }
    .link-footer-menu-contact{
        display: block;
    }
    .link-footer-menu-contact{

    }
    .link-footer-menu-contact .left-block{
        display: inline-block;
        width: 48%;
    }
    .link-footer-menu-contact .right-block{
        display: inline-block;
        width: 48%;
    }
    .link-footer-menu-bottom{
        margin: 15px 0 25px 0;
    }
    .footer{
        padding: 25px 10px;
    }
    .design-img{
        text-align: center;
    }
    .bottom-footer p{
        text-align: center;
    }
    .arrow-footer{
        display: inline-block;
        transition: all 0.1s linear;
        margin-left: 3px;
    }
    .show .arrow-footer{
        transform: rotate(180deg);
    }
    .p2pMain-card1{
        padding-left: 14px;
        padding-right: 14px;
    }
    .form-wrap{
        float: right;
    }
    .to_cabinet{
        display: block;
        margin-top: 25px;
    }
    .calendar-pay-list .calendar-card{
        display: block;
        float: none;
        margin: 20px auto 0 auto;
        max-width: 330px;
        width: 100%;
    }
    .calendar-pay-list .calendar-card:last-child{
        margin: 20px auto 0 auto;
    }
    .payment_calendar .calendar-pay-list-mob{
        display: inline-block;
        vertical-align: top;
    }
    .calendar-pay-list-mob li{
        list-style-type: none;
    }
    .payment_calendar .calendar-pay-list-mob{
        margin-left: 10px;
        max-width: 300px;
        width: 100%;
    }
    .calendar-pay-list-mob p{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .payment_calendar .calendar-pay-list-mob .calendar-card-payment{
        margin-top: 10px;
        max-width: 300px;
        width: 100%;
        padding: 37px 18px;
    }
    .calendar-pay-list-mob .calendar-card:last-child{
        margin-top: 0;
    }
    .line-mob {
        height: 673px;
        border-left: 2px solid #D9D9D9;
        padding: 0;
        width: 5px;
        display: inline-block;
        position: relative;
        top: 45px;
    }
    .calendar-pay-mob{
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    .payment_calendar{
        margin-top: 35px;
    }
    .show-more{
        background: #27B972;
        max-width: 315px;
    }
    .show-more img{
        position: relative;
        bottom: 3px;
    }
    .calendar-pay-payment .calendar-pay-list-mob .calendar-card-payment{
        padding: 25px 18px;
        text-align: left;

    }
    .link-footer-menu-contact a {
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        opacity: 0.6;
        display: block;
        margin-bottom: 10px;
    }
    .link-footer-menu-contact p {
        font-weight: 600;
        font-size: 9px;
        color: #FFFFFF;
        opacity: 0.4;
        margin-bottom: 30px;
    }
    .link-footer-menu-contact .number-footer {
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        opacity: 1;
        margin-top: 15px;
    }
    .confirm_bank .btn-next , .change_password .btn-next{
        width: 100%;
        max-width: 500px;
    }
}
@media (max-width: 767px){
    td.merch-descr{
        padding-right: 15px;
    }
}
@media (max-width: 550px){
    .tr-mob{
        width: 70%;
    }
    .tr-right{
        width: 28%;
    }
    .politic label span{
        width: 88%;
    }
    .name_user{
        font-size: 16px;
    }
    .wrap-top-block {
        padding: 18px 15px;
        height: 195px;
    }
    .number-contract{
        margin: 15px 0;
    }
    .number-contract span, .login-title span{
        display: block;
    }
    .cabinet .purse .add-new-card{
        background: url(../img/add-card-mob.svg) no-repeat;
        background-size: contain;
    }
    .modal-body .title-modal{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .info-modal{
        font-size: 14px;
    }
    .modal-body{
        padding: 0;
    }
    .modal-dialog{
        padding: 18px;
        height: auto;
        margin: 0 auto;
    }
    .close img{
        height: 18px;
        width: 18px;
    }
}
@media (max-width: 425px) {
.padding-left-xs-zero{padding-left:0}
.padding-right-xs-zero{padding-right:0}
.p2p-date span {margin-left: 0px;}
.field-cardform-expy {margin-left: 5px;}
    .wrap-title {
        height: 250px;
    }
    .wrap-title-pay{
        height: 80px;
    }
}
@media (max-width: 375px){
    .payment_calendar .calendar-pay-list-mob{
        float: right;
        max-width: 94%;
    }
}
@media (max-width: 359px){
    .logo-partner img{
        width: 80px;
    }
    .tr-right{
        width: 41%;
    }.tr-mob {
         width: 55%;
     }
}
